/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family:sans-serif, "Spartan";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
p{
    font-size: 16px;
    color: #465b52;
    /* margin: 15px 0 20px 0; */
}


span{
    font-weight: 900;
    color: white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* z-index: 99;
    box-shadow: 0 0 10px #000000; */
    background: #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
}
#header a{
    list-style: none;
    text-decoration: none;
    /* color: #222;  */
    color: white;
}
#header #Menu{
    color: white;
    font-size: 24px;
    border-bottom: 24px;

}
#header #Menu:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    border: 1px solid #c6c6c6;
}
#header .navbar{
        position: fixed;
        top: 11%;
        right:0%;
        transform-origin: top right;
        transform: scale(0);
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 90%;
        /* height:100%; */
        width: 18%;
        /* width: 25%; */
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s linear;
        
}
#header .navbar li{
    list-style: none;
    
}

#header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    /* text-transform: uppercase; */
    padding: 10px 15px;
    
}
#header .Icons li i{
    color:#F58940ED;
    margin-bottom: 25%;
}

#header .navbar li a:hover{
    border-bottom: 2px solid #F58940ED;
}

#header .navbar.active{
    transform: scale(1);

}
#logo{
    color: white;
}
#header .loginButton{
margin-left: 780px;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 2px;
  width: 75px
}
#header .loginButton:hover{
background-color:white;
color: #000000;
height: 40px;
width: 80px;
border-radius: 5px;
}

    body, div, form, input, select, textarea{ 
        outline: none;
        /* font-family: Roboto, Arial, sans-serif; */
        font-size: 14px;
        color: #666;
        line-height: 22px;
        }
    h1 {
        /* position: absolute; */
        /* margin: 0; */
        font-size: 32px;
        color: #fff;
        z-index: 2;
        }
#testbox{
        background-image: url("image/resataurant\ img.jpg");
        background-size: cover;
        background-position: top 34% right 0;
        height: 137vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
    
    }

form{
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    top: 70px; ;
    right: 50px; ;
    box-shadow: 0 0 20px 0 #F58940ED; 
}
.banner {
    position: relative;
    height: 100px; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -7%;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    width: 114%;
    height: 100%;
    background-color: #F58940ED;
    }
    .item{
       padding-top: 5%; 
    }
    
    .item a{
        /* position: absolute; */
        color:black;
        text-decoration:underline;
        padding-top: 10%;
    }
    .item p{
        text-align: center;
    }
    input, select, textarea {
        margin-bottom: 10px;
        /* border: 1px solid #ccc; */
        border-radius: 5px;
        background-color:#EEEEEE;
        }
        /* .city-item input {
            width: calc(50% - 20px);
            } */
        input,select {
        width: calc(100% - 10px);
        padding: 5px;
        }

        .Phone input{
            width: calc(100% - 10px);
            padding: 5px;
        }

        #submit .btn{
            /* position: relative; */
            background-color:black;
            transition: all 0.3s ease;
            cursor: pointer;
            width: 100px;
            /* height: 35px; */
            border-radius: 5px;
            border: none;
        }

        .btn{
            background-color: #000000;
            color: #FFF;
            height: 35px;
        }

    [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    }
    input[type=radio], input[type=checkbox]  {
    display: none;
    }
    label.radio, label.check {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    span.required {
    margin-left: 0;
    color: red;
    }
    .checkbox-item label {
    margin: 5px 20px 10px 0;
    }
    label.radio:before, label.check:before {
    content: "";
    position: absolute;
    left: 0;
    }
    label.radio:before {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #095484;
    }
    label.check:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #095484;
    }
    input[type=checkbox]:checked + .check:before {
    background: #095484;
    }
    label.radio:after {
    left: 5px;
    border: 3px solid #095484;
    }
    label.check:after {
    left: 4px;
    border: 3px solid #fff;
    }
    label.radio:after, label.check:after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 4px;
    background: transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
    opacity: 1;
    }
    .question span {
        margin-left: 30px;
        color:#F58940ED;
        }
        span.required {
        margin-left: 0;
        color: red;
        }
        .checkbox-item label {
        margin: 5px 20px 10px 0;
        }
        label.radio:before, label.check:before {
        content: "";
        position: absolute;
        left: 0;
        }
        label.radio:before {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid #095484;
        }
        label.check:before {
        top: 2px;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid #095484;
        }
         input[type=checkbox]:checked + .check:before {
    background: #095484;
    }
    label.radio:after {
    left: 5px;
    border: 3px solid #095484;
    }
    label.check:after {
    left: 4px;
    border: 3px solid #fff;
    }
    label.radio:after, label.check:after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 4px;
    background: transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
    opacity: 1;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 450px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:black;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background: #1a1c1d;
    }
.motivation{
    padding: 20px 0px;
}

/* .motivation{
    display: flex;  
    padding: 20px 0px;
    color:white;
   
} */
.motivation h1{
    position: absolute;
    bottom: 40%;
    left: 50px;
    font-weight: 800;
}
.motivation p{
   position: absolute;
   bottom: 20%;
   left: 50px;
   color: #FFF;
}
#why h3{
    color: #000000;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0px;
}
.why h2{
color: #F58940ED;
padding: 20px 0px;
}

#why{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    /* left: 2px; */
}