
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* Global Styles */
body{
    width: 100%;
}
#header a{
    list-style: none;
    text-decoration: none;
    color: #222;
    
}
span{
    font-weight: 900;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #F58940ED;
    /* background-color: rgb(236, 180, 76); */
    /* background: #F58940ED; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#header #Menu{
    position: absolute;
    right: 15px;
    /* right: 30px; */
    top: 18px;
    /* top: 40px; */
<<<<<<< Updated upstream
    color:#fff;
    /* color: black; */
    font-size: 2.5em;
=======
    /* color: #fff; */
    color: black;
    /* font-size: 2.5em; */
    font-size: 24px;
    border-bottom: 24px;
    
>>>>>>> Stashed changes
}
#header #Menu:hover{
    border-bottom: 2px solid #F58940ED;
}

#header .navbar{
    /* position: absolute; */
    position: fixed;
    top: 11%;
    right:0%;
    transform-origin: top right;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height:90%;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    transition: right 0.7s linear;
}
#header .navbar li{
list-style: none;
}

#header .navbar li a{
text-decoration: none;
color: #fff;
font-weight: 600;
/* text-transform: uppercase; */
padding: 10px 15px;

}

#header .navbar li a:hover{
border-bottom: 2px solid #F58940ED;
}
#header .Icons li i{
color:#F58940ED;
margin-bottom: 25%;
}

#header .navbar.active{
transform: scale(1);

}



/* #navbar{ */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #navbar li{ */
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* #navbar li a{ */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

/* #navbar li a:hover, */
/* #navbar li a.active { */
    color: #088178;
}

/* #navbar li a.active::after, */
/* #navbar li a:hover::after{ */
    content: "";
    width: 17px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* #navbar i{ */
    /* position: absolute; */
    right: 30px;
    top: 40px;
    color:#fff;
    /* color: black; */
    font-size: 2.5em;
    color: #1a1a1a;
 
}
/* #navbar i:hover{ */
    color: #088178;
}
#cart{
    overflow-x: auto;
}

/* start here */
#page-header{
    background-image: url("baner/Frame\ 59.jpg"); 
    /* background: url(baner/Frame\ 58.jpg);    */
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
    /* -webkit-filter: blur(1px) ; */
}

#page-header h2,
#page-header p{
    color:rgb(17, 17, 17);
    font-weight: 600;
    
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table i{
    color: rgb(173, 82, 82);
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1; 
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#card-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 11px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

