@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* Global Styles */
body{
    width: 100%;
    
}
h2 {
    font-size: 35px;
    line-height: 54px;
    color: #222;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


#header{
    background-image: url("image/contact\ img.jfif"); 
    width: 100%;
    height: 22vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
   border-radius: 10px;
}

.text h2{
    color: #fff;
    padding-right: 125px;
    
}

#header #Menu{
    position: absolute;
    /* right: 15px; */
    right: 30px;
    top: 40px;
    font-size: 24px;
    border-bottom: 24px;
    color: #fff;

}
#header #Menu:hover{
    border-bottom: 2px solid #F58940ED;
}
#header .login a i{
    position: absolute;
    right: 100px;
    top: 43px;
    color:#fff;
    /* color: black; */
    font-size: 24px;
    
}
#header .login a i:hover{
    border-bottom: 2px solid #F58940ED;
    padding-bottom:5px;
}
#header .navbar{
        position: fixed;
        top: 11%;
        right:0%;
        transform-origin: top right;
        transform: scale(0);
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height:90%;
        width: 18%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transition: right 0.7s linear;
}
#header .navbar li{
    list-style: none;
}

#header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    /* text-transform: uppercase; */
    padding: 10px 15px;
    
}

#header .navbar li a:hover{
    border-bottom: 2px solid #F58940ED;
}
#header .Icons li i{
    color:#F58940ED;
    margin-bottom: 25%;
}

#header .navbar.active{
    transform: scale(1);

}
#Value{
    display: flex;
     align-items: center;
    justify-content: space-between;
    /* padding: 20px 150px; */
    padding-left: 25%;
    height: 15vh;
    border-radius: 10px;
    background-color: #FAC09A;
}

.contact form{
    max-width: 1120px;
    padding: 20px 80px;
    text-align: center;
   
}

.contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea{
    background: rgba(217, 217, 217, 0.78);
    width: 70%;
    padding: 16px;
    margin: 4.5px;
    /* margin: 10px 0; */
<<<<<<< Updated upstream
    /* background: rgba(217, 217, 217, 0.81); */
=======
    background: rgba(217, 217, 217, 0.78);
>>>>>>> Stashed changes
    /* background: #fff; */
    /* box-shadow: #FAC09A; */
    text-transform: none;
    border-radius: 10px;
    border: none;
    
}

.contact form textarea{
    /* height: 300px; */
    position: relative;
<<<<<<< Updated upstream
    /* left: -15%; */
    right:15% ;
    height: 15rem;
    border: none;
    
 
    
=======
    height: 15rem;
    border: none;
    /* resize: none; */
>>>>>>> Stashed changes
}

.contact form .inputBox input{
    width: 49%;
}
.btn{
    position: relative;
    color: #fff;
    background-color:#FAC09A;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    border: none;
    right: 15%;
    
}
#bcgimg{
    background-image: url(image/rotate.png);
    /* position: relative;
    width: 250.49px;
    height: 310.22px;
    top: 90px;
    left: 500px;
    padding-bottom: 0%; */
    transform-origin: 0 0;
    transform: rotate(-97.543deg) scale(1, 1);
    /* margin-bottom: 0px; */
}


.btn{
    position: relative;
    color: #fff;
    background-color: #FAC09A;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    right: 15%;
}

/* #img{ */
    background: url(image/rotate.png);
    transform: rotate(-97.543deg);
    background-repeat: no-repeat;
    background-position: 250px 250px;
    width: 457.488px;
    height: 512.222px;
    


    
}