html{
    
    background-image: url(./image/crab.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 105%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header a{
    list-style: none;
    text-decoration: none;
    color: #222;
    
}
span{
    font-weight: 900;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
.container{
    background-position: top 34% right 0;
    height: 89vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

}
.form{
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    /* background: #FFF; */
    background: rgba(255, 255, 255, 0.89);

}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
.quick{
    font-weight: lighter;
    margin: 5px 0px;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin:36px 0px ;
    background-color: #d4d4d4;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.name input{
    height: 40px;
    /* width: 50%; */
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    outline: none;
    /* background: rgba(85, 88, 100, 0.34); */
  
    border: 1px solid#CACACA;
    background: rgba(217, 217, 217, 0.56);
}
.Lname{
     margin-left: 35px;
}
.field input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
    background: rgba(217, 217, 217, 0.56);

    /* color: #000; */
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

    .field button{
        background-color:#F58940ED;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 1px solid#CACACA;
    }
    .field button:hover{
        background-color: #db7c0e;
    }

    .form-link{
        text-align: center;
        margin-top: 10px;
        
    }
    .form-link span,
    .form-link a{
        font-size: 14px;
        font-weight: 400;
        color: #232836;
    }
    .form a{
        color: #0171d3;
        text-decoration: none;
        cursor: pointer;
    }
    .form-content a:hover{
        text-decoration: underline;
    }