/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family:sans-serif, "Spartan";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    
    background-image: url(image/Bg\ img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 105%;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#header a{
    list-style: none;
    text-decoration: none;
    color: #222;
    
}
span{
    font-weight: 900;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}


.input-search {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input{
    width: 100%;
    padding-right: 50px;
    color: #D0D3E0;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none
  }
  input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}

input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
  
  #header .inputIcon{
    position: absolute;
    right: 7.7px;
     top: 19px; 
    background: #F58940ED;
     color:#fff;
    border-radius: 30px;
     width: 45px;
     height: 45px;
     border: none;
    transform: scale(0.9);
     cursor: pointer; 
     margin-top:-11.5px;
     margin-right:1px;
     padding-left: 3%;
     padding-top:2%;
  }

.loginButton{
    height: 40px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.84);
    border:1px solid #eaeaea;
    outline: none;
   
}

/* #userIcon{ */
   

.loginButton:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #F58940ED;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:#f8f8f8 ;
}
.loginButton:focus{
    border-color:#4d90fe;
}
.signUpButton{
    height: 40px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 30px;
    background:linear-gradient(0deg, #000 0%, #000 100%), rgba(255, 255, 255, 0.84);
    color: #eaeaea;
    border:1px solid #eaeaea;
    outline: none;
}
.signUpButton:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #F58940ED;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:#f8f8f8 ;
}
.signUpButton:focus{
    border-color:#4d90fe;
}
#body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

#body .text{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#body .text h1{
    color: #000;
    font-weight: 700;
    letter-spacing: -1.2px;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 span{
    color:#222;
}

#body .text p{
    color: #FFF;
font-size: 20px;
font-family: Tuffy;
letter-spacing: 0px;
padding-top: 15px;
}

.form{
    display: flex;
    align-items: center;
    padding: 20px 80px;
    flex-wrap: wrap;
   
}
.where{
    width: 150px;
    height: 25px;
    border-radius: 0px 5px 5px 0px;
}
.when{
    width: 100px;
    height: 25px;
    border-radius: 0px 5px 5px 0px;
}

.time{
    width: 100px;
    height: 25px;
    border-radius: 0px 5px 5px 0px;
}
.orderButton{
    height: 40px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 30px;
    background:linear-gradient(0deg, #000 0%, #000 100%), rgba(255, 255, 255, 0.84);
    color: #eaeaea;
    border:1px solid #eaeaea;
    outline: none;
    margin-left: 5px;
}
.orderButton:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #F58940ED;
    /* background: #ff4c2e; */
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:#f8f8f8 ;
}
.orderButton:focus{
    border-color:#4d90fe;
    
}
#header #Menu{
    /* color: #f8f8f8; */
    color: #000;
    /* font-size: 2.5em; */
    font-size: 24px;
    border-bottom: 24px;

}
#header #Menu:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    border: 1px solid #c6c6c6;
}
#header .navbar{
        /* position: absolute; */
        position: fixed;
        top: 11%;
        right:0%;
        transform-origin: top right;
        transform: scale(0);
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 90%;
        /* height:100%; */
        width: 18%;
        /* width: 25%; */
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s linear;
        
}
#header .navbar li{
    list-style: none;
    
}

#header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    /* text-transform: uppercase; */
    padding: 10px 15px;
    
}
#header .Icons li i{
    color:#F58940ED;
    margin-bottom: 25%;
}

#header .navbar li a:hover{
    border-bottom: 2px solid #F58940ED;
}

#header .navbar.active{
    transform: scale(1);

}

/* #header .navbar a{
    display: block;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    border-radius: 40px;
} */

/* #header .navbar a:hover{
    background: #F58940ED;
    padding-left: 8px;

} */



/* 
.form{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}


.form-container form .inputBox span{
    font-size: 1.7rem;
}

.form-container form .inputBox span input{
    font-size: 1.5rem;
    
    background: none;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .btn{
    flex: 1 1 23rem;
} */



